<div dir="rtl" class="container" *ngIf="form !== undefined && form.formTitle">

  <h3 class="text-center">{{ form.formTitle }}</h3>

  <form [formGroup]="dynamicFormGroup">
    <div class="row">
    <ng-container *ngFor="let control of form.formControls">

      <div *ngIf="['text', 'email', 'password', 'number', 'date', 'time', 'file', 'number'].includes(control.type)" class="mt-4 col-12">

        <label class="form-label">{{ control.label }}</label>
        <input class="form-control" [type]="control.type" formControlName="{{control.name}}" placeholder="{{control.placeholder}}">

        <small class="text-danger w-100"
               *ngIf="dynamicFormGroup.get(control.name)?.invalid && dynamicFormGroup.get(control.name)?.touched">
          {{getValidationErrors(control)}}
        </small>

      </div>

      <div *ngIf="['checkbox'].includes(control.type)" class="mt-4 col-12">

        <div class="form-check">
          <input class="form-check-input" [type]="control.type" name="{{control.name}}" value="{{control.label}}">
          <label class="form-check-label">
            {{control.label}}
          </label>
        </div>

        <small class="text-danger w-100"
               *ngIf="dynamicFormGroup.get(control.name)?.invalid && dynamicFormGroup.get(control.name)?.touched">
          {{getValidationErrors(control)}}
        </small>

      </div>
    </ng-container>
    </div>

    <hr/>

    <div class="d-flex justify-content-center mt-4">
      <button (click)="onSubmit()" class="mx-1 btn btn-success" type="submit">{{ form.saveBtnTitle }}</button>
      <button class="mx-1 btn btn-warning" type="button">{{ form.cancelBtnTitle }}</button>
    </div>

  </form>

</div>
